<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GamoOn Admin</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">

        <partial name="_AdminSidebar" />

        <div id="page-wrapper" class="gray-bg dashbard-1">

            <partial name="_AdminNavbar" />

            @RenderBody()

            <partial name="_AdminFooter" />

        </div>
    </div>




    

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
