@model WeatherViewModel

<div class="card bg-dark border-secondary border-opacity-25 shadow-sm rounded-4 px-4 py-2 text-center">
    <small class="text-white-50 fw-bold"><i class="bi bi-geo-alt me-1"></i>@Model.City</small>

    <div class="d-flex align-items-center justify-content-center my-1">
        <img src="https://openweathermap.org/img/wn/@(Model.Icon + "@2x.png")" alt="Hava Durumu" style="width: 40px; height: 40px; object-fit: contain;" class="me-1" />
        <div class="fs-4 fw-bold text-light mb-0">@Model.Temp.Split(new char[] { ',', '.' })[0]°C</div>
    </div>

    <small class="text-info opacity-75 text-capitalize" style="font-size:11px;">
        @Model.Status
    </small>
</div>